@import 'bootstrap';
@import 'bootstrap-icons';

body {
    background-color: black;
}

header {

    .nav-link {
        color: white;

        &:hover {
            color: red;
        }
    }

    .logo {
        color: red;
        font-size: 25px;
        font-weight: 700;
        text-decoration: none;
        margin-right: 2rem;
    }

    .search-bar {
        width: 320px;
    }

    .btn {
        background-color: red;
        color: white;

        &:hover {
            background-color: rgb(187, 0, 0);

        }
    }
}

main {
    background-color: black;
}

h1 {
    color: red;
}

.netflix {
    img {
        width: 350px;
    }

}

.movies_list {
    .card {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        height: 380px;
        border: none;

        .card-img-top {
            transition: transform 0.3s ease;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            opacity: 0;
            overflow-y: auto;
        }

        .card-body {

            p {
                margin: 0;
                padding: 0;
            }
        }
    }

    .flag {
        display: block;

        img {
            width: 25px;
        }
    }
}

.card:hover .overlay {
    opacity: 1;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}