@import 'bootstrap';
@import 'bootstrap-icons';

header {

    nav .collapse ul li a:hover {
        color: red;
    }

    .logo {
        color: red;
        font-size: 25px;
        font-weight: 700;
        text-decoration: none;
        margin-right: 2rem;
    }

    .search-bar {
        width: 320px;
    }

    .btn {
        background-color: red;
        color: white;

        &:hover {
            background-color: rgb(187, 0, 0);

        }
    }
}

.movies_list {
    .card {
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .flag {
        display: inline-block;

        img {
            width: 25px;
        }
    }
}